
*{
    /* color: #402500; */
    color:#5c4915;
    font-family: "Jost", sans-serif;
   }
.flip-card {
    margin-top: 5rem;
    width: 15rem;
    height: 25rem;
    perspective: 1000px;
    background-color: transparent;

}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);

}

.card-bg{
    position:relative;
    height: 200px;
}

.Player-image-container{
    position : absolute;
    top:10%;
    left: 20%;
    margin: auto;
    margin-right: 1rem;
    width: 60%;
    height: 80%;
}
.full-player-image{
    width: 100%;
    height: 100%;
    margin-top: 0px;
    opacity: 0.7;
}

.details-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.card-top{

    display: flex;
    margin-top: 2rem;
    width: 100%;
    height: 40%;
}
.profile-image-container {
    width: 80%;
    height: 100%;

}
.flags-container{
    margin-top: 1rem;
    display: block;
    width: 20%;
    height: 100%;
}

.number {
    padding: auto;
    margin: auto;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.8rem;
    
}
.national-flag {
    margin: auto;
    margin-bottom: .5rem;
    margin-top: 0.5rem;
    width: 80%;
    height: 25%;
    border-top: solid 0.1rem burlywood;
    border-bottom: solid 0.1rem burlywood;
}

.team-flag {
    margin: auto;
    width: 70%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-flag img{
   width: 2rem;
   height: 2rem; 
}


.card-center{
    height: 10%;
}
.name {
    margin-top: 5px;
    font-weight: bold;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-bottom{
    margin-top: 20px;
    display: flex;
    height:25% ;
}

.col1 {
    display: block;
    text-align: right;
    width: 45%;
    
}
.col2{
    text-align: start;
    width: 45%;
}

.col1 .col2{
    display: block;
    font-size: 12px;
    padding-top: 8px; 
    
}


.ver-divider{  
    background-color: #ebe7e7;
    width: .5%;
    height: 80%;
    text-align: center;
    border-radius: 2rem;
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
} 
.hor-divider {
    background-color: #ebe7e7;
    width: 20%;
    height: 0.1rem;
    text-align: center;
    margin-top: -.7rem;
    border-radius: 2rem;
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}


